body {
  background-image: url(./img/123456.png);
  font-family: sans-serif;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  background-color: burlywood;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}
#established {
  font-style: italic;
}
h2 {
  font-size: 30px;
}
img {
  margin-bottom: -5px;
  margin-top: -25px;
}
